body {
  margin: auto;
  max-width: 800px;
  padding: 10px;
}

.project-container {
  display: flex;
}

.project-item {
  width: 600px;
}

@media only screen and (max-width: 768px) {
  .project-container {
    flex-direction: column;
  }
  .project-item {
    max-width: 600px;
    width: auto;
  }
}
